body {
  font-family: 'Roboto', sans-serif;
  background-color: #E4E3D3;
  font-size: 20px;
  color: #454545; }
  @media screen and (max-width: 768px) {
    body {
      font-size: 16px; } }
  body #wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    body #wrapper form {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      @media screen and (max-width: 768px) {
        body #wrapper form {
          width: 95%; } }
    body #wrapper #newcontent {
      padding: 18px;
      width: 80%;
      margin: 3px;
      background-color: #FFF8F0;
      border: none;
      border-radius: 2px;
      font-size: 75%; }
      @media screen and (max-width: 768px) {
        body #wrapper #newcontent {
          padding: 12px; } }
    body #wrapper #addnewcontent {
      padding: 17px;
      width: 20%;
      background-color: #454545;
      color: #FFF8F0;
      border-radius: 2px;
      border: none; }
      @media screen and (max-width: 768px) {
        body #wrapper #addnewcontent {
          padding: 11px; } }
    body #wrapper #ulWrapper {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start; }
      @media screen and (max-width: 1024px) {
        body #wrapper #ulWrapper {
          flex-direction: column;
          align-items: center;
          justify-content: space-around; } }
      @media screen and (max-width: 768px) {
        body #wrapper #ulWrapper {
          width: 100%; } }
      body #wrapper #ulWrapper #filter {
        margin: 20px 10px;
        width: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly; }
        @media screen and (max-width: 1024px) {
          body #wrapper #ulWrapper #filter {
            margin: 5px 0px; } }
        body #wrapper #ulWrapper #filter #openMenu {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          background-color: #454545;
          color: #FFF8F0;
          margin: 3px 0;
          font-size: 90%;
          border: none;
          padding: 10px;
          width: 90%; }
          @media screen and (max-width: 1024px) {
            body #wrapper #ulWrapper #filter #openMenu {
              width: 125%; } }
        body #wrapper #ulWrapper #filter .closed {
          display: none; }
        body #wrapper #ulWrapper #filter .opened {
          margin: 0;
          width: 100%;
          font-size: 80%; }
          @media screen and (max-width: 1024px) {
            body #wrapper #ulWrapper #filter .opened {
              flex-direction: row;
              display: flex;
              justify-content: space-evenly;
              width: 130%;
              font-size: 90%; } }
          @media screen and (max-width: 768px) {
            body #wrapper #ulWrapper #filter .opened {
              font-size: 60%; } }
        body #wrapper #ulWrapper #filter .filterButtons {
          background-color: #454545;
          color: #FFF8F0;
          margin: 3px 0;
          font-size: 90%;
          border: none;
          padding: 10px;
          width: 100%; }
        body #wrapper #ulWrapper #filter .filterButtons:focus {
          background-color: #E2A0FF;
          outline: 0; }
      body #wrapper #ulWrapper #myTodoList {
        list-style-type: none;
        margin: 20px 0;
        padding: 0px;
        width: 85%; }
        @media screen and (max-width: 1024px) {
          body #wrapper #ulWrapper #myTodoList {
            margin: 5px 0px; } }
        body #wrapper #ulWrapper #myTodoList .listItem {
          font-weight: 300;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          background-color: #7F9172;
          color: #FFF8F0;
          padding: 20px;
          margin: 3px;
          position: relative;
          text-transform: capitalize; }
          @media screen and (max-width: 768px) {
            body #wrapper #ulWrapper #myTodoList .listItem {
              padding: 17px; } }
        body #wrapper #ulWrapper #myTodoList .Checked {
          color: #FFF8F0;
          text-decoration: line-through;
          background-color: #454545; }
        body #wrapper #ulWrapper #myTodoList .removeListItem {
          background-color: transparent;
          border: none;
          position: absolute;
          right: 10px; }
        body #wrapper #ulWrapper #myTodoList .reverseListItem {
          background-color: transparent;
          border: none;
          position: absolute;
          right: 10px; }
        body #wrapper #ulWrapper #myTodoList .removed {
          background-color: #9c3554; }
