@import "mixins";

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E4E3D3;
    font-size: 20px;
    color: #454545;
    @include phone {
        font-size: 16px;
    }
    #wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        form {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            @include phone {
                width: 95%;
            }
        }
        
        #newcontent {
            padding: 18px;
            width: 80%;
            margin: 3px;
            background-color: #FFF8F0;
            border: none;
            border-radius: 2px;
            font-size: 75%;
            @include phone {
                padding: 12px;
            }
        }
        
        #addnewcontent {
            padding: 17px;
            width: 20%;
            background-color:#454545;
            color: #FFF8F0;
            border-radius: 2px;
            border: none;
            @include phone {
                padding: 11px;
            } 
        }
        
        #ulWrapper {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            @include tablet { 
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
            }
            @include phone {
                width: 100%;
            }


            #filter {
                margin: 20px 10px;
                width: 15%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                @include tablet {
                    margin: 5px 0px;
                }
                


                #openMenu {
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    background-color:#454545;
                    color: #FFF8F0;
                    margin: 3px 0;
                    font-size: 90%;
                    border: none;
                    padding: 10px;
                    width: 90%;
                    @include tablet {
                        width: 125%;
                    }
                }
               
                .closed {
                    display: none;
                    
                }
                .opened {
                    margin: 0;
                    width: 100%;
                    font-size: 80%;
                    @include tablet {
                        flex-direction: row;
                        display: flex;
                        justify-content: space-evenly;
                        width: 130%;
                        font-size: 90%;

                    }
                    @include phone {
                        font-size: 60%;
                    }
                }
                
                .filterButtons {
                    background-color:#454545;
                    color: #FFF8F0;
                    margin: 3px 0;
                    font-size: 90%;
                    border: none;
                    padding: 10px;
                    width: 100%;
                
                }
                .filterButtons:focus {
                    background-color: #E2A0FF;
                    outline: 0;
                }
            }


            #myTodoList {
                list-style-type: none;
                margin: 20px 0;
                padding: 0px;
                width: 85%;
                @include tablet {
                    margin: 5px 0px;
                }

                .listItem {
                    font-weight: 300;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    background-color:#7F9172;
                    color: #FFF8F0;
                    padding: 20px;
                    margin: 3px;
                    position: relative;
                    text-transform: capitalize;
                    @include phone {
                        padding: 17px;
                    }
                
                }
                .Checked {
                    color: #FFF8F0;
                    text-decoration: line-through;
                    background-color:  #454545;
                
                }
                
                .removeListItem {
                    background-color: transparent;
                    border: none;
                    position: absolute;
                    right: 10px;
                }
                
                .reverseListItem {
                    background-color: transparent;
                    border: none;
                    position: absolute;
                    right: 10px;
                }
                
                .removed {
                    background-color: rgb(156, 53, 84);
                }
                
            }
        }
    }
}